<!-- src/app/components/home/home.component.html -->
<div class="container">
  <h1 class="title">Juego de Memoria de Pares</h1>
  
  <div *ngIf="!gameStarted" class="setup-container">
    <h2>Configuración del Juego</h2>
    
    <div class="mode-selector">
      <h3>Selecciona el modo de juego:</h3>
      <div class="radio-group">
        <label>
          <input type="radio" name="playerMode" [(ngModel)]="playerMode" value="single">
          Un jugador
        </label>
        <label>
          <input type="radio" name="playerMode" [(ngModel)]="playerMode" value="multi">
          Dos jugadores
        </label>
      </div>
    </div>
    
    <div class="player-inputs">
      <div class="input-group">
        <label for="player1">Jugador 1</label>
        <input type="text" id="player1" [(ngModel)]="player1Name" placeholder="Nombre del Jugador 1">
      </div>
      
      <div class="input-group" *ngIf="playerMode === 'multi'">
        <label for="player2">Jugador 2</label>
        <input type="text" id="player2" [(ngModel)]="player2Name" placeholder="Nombre del Jugador 2">
      </div>
       <!-- Dentro de .player-inputs -->
    <div class="input-group">
      <label for="email1">Correo electrónico</label>
      <input type="email" id="email1" [(ngModel)]="player1Email" placeholder="Correo del Jugador 1">
    </div>

    <div class="input-group">
      <label for="password1">Contraseña</label>
      <input type="password" id="password1" [(ngModel)]="player1Password" placeholder="Contraseña del Jugador 1">
    </div>

    <div class="input-group" *ngIf="playerMode === 'multi'">
      <label for="email2">Correo electrónico Jugador 2</label>
      <input type="email" id="email2" [(ngModel)]="player2Email" placeholder="Correo del Jugador 2">
    </div>

    <div class="input-group" *ngIf="playerMode === 'multi'">
      <label for="password2">Contraseña Jugador 2</label>
      <input type="password" id="password2" [(ngModel)]="player2Password" placeholder="Contraseña del Jugador 2">
    </div>
    <button class="start-button" (click)="cargarUsuarios()">Mostrar Usuarios Registrados</button>

    <div *ngIf="mostrarUsuarios" class="setup-container" style="margin-top: 30px;">
      <h2>Usuarios Registrados</h2>
      <ul>
        <li *ngFor="let usuario of usuariosRegistrados">
          <strong>{{ usuario.name }}</strong> - {{ usuario.email }}
        </li>
      </ul>
    </div>
    
    <div *ngIf="mostrarUsuarios" class="setup-container" style="margin-top: 30px;">
    <h2>Usuarios Registrados</h2>
    <ul>
      <li *ngFor="let usuario of usuariosRegistrados">
        <strong>{{ usuario.name }}</strong> - {{ usuario.email }}
        <button (click)="eliminarUsuario(usuario.id)" style="margin-left: 10px; color: red;">Eliminar</button>
      </li>
    </ul>
  </div>

  </div>
   
    <button class="start-button" (click)="startGame()">Comenzar Juego</button>
  </div>
  
  <app-game-board *ngIf="gameStarted"></app-game-board>
</div>